nav{
    justify-content: end;
   display: flex;
    gap: 10px;
  flex: 3;
  background-color: #ffff;
  padding: 10px;
}

strong{
    background-color: blue;
    color: white;
    height: 100px;
    padding-left: 2%;
}

.adv{
  width: 10em;
  height: 5ex;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.adv:active {
  font-size: 85%;
  box-shadow: 0 0 10px #000 inset;
}

.adv:hover{
  background-color: orange;
}

/* .adv:active{ */
  


header{
    background-color: blue;
    height: 120px;
    border-style: dashed;
    margin: -.5%;
  }
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  body{
    display: grid;
  
    background-color: grey;
  }
  /* set up */
  section{
        display: block;
  }
  
  
  div{
    color: gray;
    grid-template-rows: auto;
    margin: 20px;
    padding: 20px;
  }
  
  p{
    text-align: center;
    font-family: monospace;
    font-size: larger;
  }

  /* h3{ */
  
  

footer{
  /* display: ; */
  text-align: center;
}