/* top about buttons */
nav{
    justify-content: center;
   display: flex;
    gap: 200px;
  flex: 3;
  background-color: #3a98b9;
  padding: 10px;
  font-size: 1.5em;
}
/* header */
strong{
    background-color: blue;
    color: white;
    height: 100px;
    padding-left: 2%;
}


header{
    background-color: blue;
    border-style: solid;
    margin: -.5%;
    font-size: 1.5rem;
    text-align: center;
  }

  /* name */
  .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 30px;
    position: relative;
  }

  #about-me .content{
    width: 500px;
    text-align: center;
    font-size: 1.5em;
  }

  body{
    background-image: url(./assets/grey.jpg);
  }

  /* Resume section */
  .resume-section{
    color: black;
    padding: 45px;
    border-style: solid double none;
  }

footer{
  /* display: ; */
  text-align: center;
  color: white;
}



/* work section */
section{
    text-align: center;
    background-color: lightblue;
    color: black;
    font-size: x-large;
    border-style: solid double none;
}

/* button */
/* .adv{
   width: 10em;
   height: 5ex;     background-color: lightblue;
     border: 2px solid black;
      border-radius: 10px;
      font-weight: bold;
      color: black;
      cursor: pointer;
      position: absolute;
        top: 70px;
        left: 69px;
}
    
.adv:active {
   font-size: 85%;
   box-shadow: 0 0 10px #000 inset;
}
.adv:hover{
   background-color: orange;
} */

 h5{
  background-color: black;
  width: 40%;
  font-size: 1.3em;
  margin: 10px 0px 0px 440px
}

h4{
  display: inline-flex;
}

@media screen and (max-width: 768px){
  nav{
    display: inline-flex;
    gap: 1%;
  }
  .fit-picture{
    display: inline-flex;
    width: 80%

  }
}

@media screen and (max-width576){

  nav{
    display: inline-flex;
    gap: 1%;
  }
  .fit-picture{
    display: inline-flex;
    width: 50%;
    height: 50%;
  }
}